body {
    background-color:  rgb(220, 220, 220);
    margin: 0%;
    padding: 0;
}


img {
    position: relative;
    left: 20px;
    height: 500px;
    border-radius: 80px;
}
img:hover {
    filter: drop-shadow(-10px -10px 10px rgb(67, 67, 67));
}
nav {
    position: absolute;
}
nav, ul, li {
    margin: 10px;
    left: 90px;
    bottom: 37px;
    position: relative;
    display: inline-block;
    text-decoration: none;
    
}
a:link{
    text-decoration: none;
    
}
h1 {
    
    font-size: 40px;
}
nav {
    
    position: relative;
    left: 190px;
}

.box1 {
    position: relative;
    border-radius: 50%; 
    display: inline-block;
    width: 90px;
    height: 100px;
    background-color: lightcoral;
    text-align: center;
}
.box2 {
    position: relative;
    display: inline-block;
    border-radius: 50%;
    width: 90px;
    height: 100px;
    background-color: lightblue;
    text-align: center;
}
.box3 {
    position: relative;
    display: inline-block;
    border-radius: 50%;
    width: 90px;
    height: 100px;
    background-color: lightgreen;
    text-align: center;
}
.box-text {
    padding-top: 18px;
    vertical-align: middle;
}
section {
    left: 429px;
    bottom: 230px;
    position: absolute;
}
.aboutMe, h2 {
    position: relative;
    top: 30px;
    font-size: 90px;
}

.aboutMe, h3 {
    position: relative;
    font-size: 40px;
    bottom: 40px;
}

footer {
    top: 150px;
    position: relative;
    height: 100px;
    background-color: rgb(254, 76, 76);
}


